{% extends "home.html" %}
{% block content_ct %}

<form  method="post">
    <h3 align="center">Add Category</h3>
    <div class="form-group">
        <label for="CategoryName">CategoryName</label>
        <input type="text" name="CategoryName" id="CategoryName" placeholder="Enter CategoryName" class="form-control">  
    </div>
    <div class="form-group">
        <label for="Description">Description</label>
        <input type="text" name="Description" id="Description" placeholder="Enter Description" class="form-control">  
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}